h2 {
    margin: 0;
    text-transform: uppercase;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
    line-height: 28px;

    a {
        font-size: 18px;
    }
}

.links_holder {
    margin: 0 auto;
    width: 178px;
}

.sphere {
  margin: 40px 0 0;

  ul {
    margin: 20px 0 0;
  }
}

@media (min-width: 768px) {
    .links_holder {
        width: 440px;
        overflow: hidden;
    }

    .sphere {
        width: 220px;
        float: left;
    }
}

@media (min-width: 1025px) {
    .links_holder {
        width: 660px;
    }
}
